@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

#Inicial{
    height: 55vh;
    width: 100vw;
    font-family: 'poppins';
    display: flex;
    background-color: #042E39;
}
#img{
    margin-top: 1%;
    margin-bottom: 1%;
    border-bottom-left-radius: 3vw;
    border-top-left-radius: 3vw;
}
#texto{
    font-size: 1.7vw;
}