@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

#ONGs {
    width: 100vw;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
    background-color: #042E39;
}

#tamimg {
    border-radius: 3vw;
    width: 18vw;
    height: 18vw;
}

#left-arrow-ong {
    color: white;
    height: 10vh;
    width: 10vh;
    margin-left: 2vw;
}

#right-arrow-ong {
    color: white;
    height: 10vh;
    width: 10vh;
    margin-left: 2vw;
}